<div id="form-container">
    <h3>Sign-up for an account</h3>

    <form #form="ngForm" (ngSubmit)="registerHandler(form)">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input
                matInput
                type="text"
                name="username"
                id="username"
                ngModel
                required
                minlength="4"
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                type="email"
                name="email"
                id="email"
                ngModel
                required
                email
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                name="password"
                id="password"
                ngModel
                required
                minlength="6"
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input
                matInput
                type="password"
                name="re-password"
                id="re-password"
                ngModel
                required
            />
        </mat-form-field>

        <button mat-flat-button color="accent">Register</button>
    </form>
</div>
