a, span {
    cursor: pointer;
}

span {
    margin: 0.5em 0.5em;
    display: flex;
}

a {
    margin: 0.5em;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    background-size: cover
}

.header {
    background-color: #D8AE1C;
}

.header-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    font-size: 1.6em;
}
.profile-icon {
    transform: scale(2);
}

#logo {
    width: 9em
}