<mat-toolbar role="heading" class="header">
    <div class="header-container">
        <span id="logo" routerLink="home">
            <img src="../../../assets/images/NOTED.png" alt="NOTED" />
        </span>

        <div class="nav">
            <ng-container *ngIf="!userService.isLoggedIn">
                <span routerLink="/login">Login</span>
                <span routerLink="/register">Register</span>
            </ng-container>
            <a *ngIf="userService.isLoggedIn">
                <button mat-button routerLink="notes/new-note">
                    <mat-icon class="plus-box"> add_box </mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="loggedInMenu">
                    <mat-icon class="profile-icon">account_circle</mat-icon>
                </button>
                <mat-menu #loggedInMenu="matMenu">
                    <button mat-menu-item routerLink="profile">Profile</button>
                    <button mat-menu-item (click)="handleLogout()">
                        Logout
                    </button>
                    <button mat-menu-item routerLink="my-notes">My Notes</button>
                </mat-menu>
            </a>
        </div>
    </div>
</mat-toolbar>
